# WARNING: When you rename a workflow filename, remember to update the Trusted Publishing settings as well.
# https://www.npmjs.com/package/eslint-plugin-roro/access
# ref. https://docs.npmjs.com/trusted-publishers
name: release
on:
  push:
    branches:
      - main

jobs:
  release:
    name: Create draft release
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4
        id: release

  publish-npm:
    name: Publish to npm
    permissions:
      contents: read
      id-token: write # Required for OIDC authn and npm provenance
    runs-on: ubuntu-latest
    needs: [release]
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
      # Ensure npm 11.5.1 or later is installed
      # ref. https://docs.npmjs.com/trusted-publishers#github-actions-configuration
      - run: npm install -g npm@latest
      - run: pnpm install --frozen-lockfile
      - run: pnpm publish --access public
        env:
          # https://docs.npmjs.com/generating-provenance-statements#using-third-party-package-publishing-tools
          NPM_CONFIG_PROVENANCE: true
